body {
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color: #333;
}

span{
	font-size: 22px;
	color: #000;
	transition: 0.3s;
}

.intro span.highlight {
	background-color: powderblue;
	color: black;
}

.intro span.highlight-here {
	background-color: #FF8C00;
	color: white;
	transition: 0.3s;
}

.intro span.highlight-here:hover {
	background-color: #C11B17;
	color: white;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #1A6DBB;
	transition: 0.3s;
}

.table { 
	font-size: 70px;
	color: #000;
	text-indent: 50px;
	transition: 0.3s;
}
