body {
	font-family: 'Roboto', sans-serif;
	font-size: 5px;
	color: #333;
}

span{
	font-size: 35px;
	color: #000;
	transition: 0.3s;
}

.intro span.highlight {
	background-color: powderblue;
	color: black;
}

.intro span.highlight-here {
	background-color: #FF5834;
	color: white;
	transition: 0.3s;
}

.intro span.highlight-here:hover {
	background-color: #E41B17;
	color: white;
	transition: 0.3s;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	transition: 0.3s;
}

a:hover {
	color: #1A6DBB;
	transition: 0.3s;
}